<template>
  <div class="note-book-component">

    <note-list
      :notes="notes"
      :selectedNoteId="selectedNoteId"
      @add-note="addNote"
      @select-note="selectNote"
    >
    </note-list>

    <note-editor
      :note="note"
      :noteId="selectedNoteId"
      @remove-note="removeNote"
      @save-note="saveNote"
    >
    </note-editor>

    <!-- <code>
      {{notes}}
    </code> -->

  </div>
</template>

<script>
import NoteEditor from '@/components/NoteEditor';
import NoteList from '@/components/NoteList';

export default {
  components: {
    NoteEditor,
    NoteList,
  },
  data() {
    return {
      notes: [ {} ],
      selectedNoteId: 0,
    };
  },
  computed: {
    note() {
      return this.notes[this.selectedNoteId];
    },
  },

  methods: {
    saveNote(content, title, noteId) {
      //첫 줄 자르고
      // const firstLine = text.split('\n')[0];
      //해당 this.notes 내용 바꾸기t
      if(!title){
        title = content.split("\n")[0];
      }
      this.$set(this.notes, noteId, { content: content, title: title});
    },

    addNote() {
      // this.text = '';
      this.selectedNoteId = this.notes.length;
      this.notes.push({});
    },

    selectNote(noteId){
      this.selectedNoteId = noteId;
    },

    removeNote(noteIndex) {
      this.selectedNoteId = noteIndex === 0 ? 0 : noteIndex - 1;
      this.notes.splice(noteIndex, 1);
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
