<template>
  <div class="note-list-component">
    <button @click="addNote">노트 추가하기</button>
    <ol>
      <li
        v-for="(note, index) in notes"
        :class="{'active':index == selectedNoteId, 'new-note': !note.title}"
        :key="index"
        @click="$emit('select-note', index)"
      >
        {{ note.title || 'New Note' }}
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  props: ['notes', 'selectedNoteId'],

  methods: {
    addNote() {
      this.$emit('add-note');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .note-list-component {
    width: 300px;
    border-right: 1px solid rgb(232,232,232);
    height: 100vh;
    background: rgb(247,247,245);
    color: #444;
    float: left;
    overflow:auto;
  }

  .note-list-component ol {
    list-style: none;
    padding-left: 0;
  }

  .note-list-component ol li {
    min-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .active {
    background-color: rgb(253,226,142);
  }

  .new-note {
    color: #aaa;
  }
</style>
