<template>
  <div class="note-editor-component">

    <header>
      <button name="show-preview" :class="{'is-active': showPreview }" @click="preview">미리보기</button>
      <button @click="removeNote">삭제하기</button>
      <button @click="saveNote">저장하기</button>
    </header>

    <main class="container">
      <div>
        <input v-model="noteTitle" placeholder="Insert title">노트 #{{noteId}}
      </div>
      <textarea v-model="currentText">
      </textarea>
    </main>

    <section class="preview" v-html="renderedText" v-if="showPreview">
    </section>

  </div>
</template>

<script>

import MarkdownIt from 'markdown-it';
const md = new MarkdownIt();

export default {
  props: ['note', 'noteId'],

  data() {
    return {
      currentText: this.note.content || '',
      noteTitle: this.note.title || '',

      showPreview: true,
    };
  },
  computed: {
    renderedText() {
      const text = `# ${this.noteTitle}\n\n${this.currentText}`;
      return md.render(text);
    },
  },
  watch: {
    note(value) {
      // console.log('text chnaged:', value);
      this.currentText = this.note.content || '';
      this.noteTitle = this.note.title || '';

      //
    },
  },

  methods: {
    saveNote() {
      this.$emit('save-note', this.currentText, this.noteTitle, this.noteId);
      this.$emit('update:note', this.currentText, this.noteTitle);
    },
    removeNote() {
      this.$emit('remove-note', this.noteId);
    },

    preview() {
      this.showPreview = !this.showPreview;
    },
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .note-editor-component {
    overflow:auto;
  }

  .note-editor-component header {
    height: 30px;
    text-align: right;
    background: url('/static/vertical-stripe.png') repeat-x;
  }

  button[name="show-preview"] {
    background-color: #aaa;
  }
  button[name="show-preview"].is-active {
    background-color: white;
  }

main.container {
  display: inline-block;
  float: left;
  width: 50%;
}

section.preview {
  border: 1px solid #eee;
  display: inline-block;
  width: calc(50% - 2px);
  float: left;
}

</style>
